<div class="father">
  <div class="col1">
    <div class="header">
      <h1>Paulo Henrique Araújo de Almeida</h1>
      <p>Sou esforçado com um curriculo versatil em busca do primeiro emprego</p>
    </div>
    <div class="subtitle">
        <h1>Experiências</h1>
      <div class="general-info">
        <h2>CARA Distribuidora, Itu - ajudante de Entregador</h2>
        <li>DE MARÇO 2020 - DESEMBRO DE 2020</li>
        <li>Nessa empresa, trabalhando informalmente como entregador, consegui 
          contato com pessoas que trabalham com produtos</li>
      </div>
      <div class="general-info">
        <h2>Academia de Artes Marciais Wanderlei Neto, Itu — Instrutor</h2>
        <li>JANEIRO DE 2021 - NOVEMBRO DE 2022</li>
        <li>Desenvolvi habilidade de comunicação e controle de grandes equipes 
          propondo atividades extras como festivais.</li>
      </div>
    </div>
      <div class="subtitle">
        <h1>Formação</h1>
       <div class="general-info">
        <h2>Fatec, Itu — Analise e Desenvolvimento de Sistemas (Diurno)</h2>
        <li>CURSANDO 3° SEMESTRE.</li>
       </div>
       <div class="general-info">
        <h2>E. E. Professor Antonio Berreta, Itu — Ensino Médio</h2>
        <li>COMPLETO.</li>
       </div>
       <div class="general-info">
        <h2>Cemul, Itu — Intermediário</h2>
        <li>Curso de ingles.</li>
       </div>
       <div class="general-info">
        <h2>Link referente as certificações do curso de implantações de 
          serviços em nuvem e Inteligência Artificial.  SENAI </h2>
       </div>
    </div>
    <a href="https://www.cloudskillsboost.google/public_profiles/02cbf5fd-3f45-41c4-a066-c2b903593521" target="_blank">
      <button>Google cloud skillsboost</button>
      </a>
  </div>
  <div class="col2">
    <img src="../assets/perfil.jpg" alt="Foto de perfil">
    <div class="info">
      <li>Itu, SP</li>
        <li>+55 11 943356247</li>
        <li>Solteiro</li>
        <li>Linkdin</li>
        <li>Github</li>
    </div>
    <div class="subtitle">
      <h1>Competencias</h1>
      <div class="general-info">
        <li>Comunicativo.</li>
        <li>Ótima liderança.</li>
        <li>Proativo.</li>
        <li>Facilidade com tecnologia.</li>
        <li>Facilidade de aprendizagem.</li>
        <li>Versatilidade.</li>
        <li>Líder de sala do ensino médio até a faculdade.</li>
        <li>Selo de certificação de implantação de recursos em nuvem e inteligência artificial.</li>
        <li>Certificado Nacional e Internacional de Faixa Preta.</li>
        <li>Certificado de Violão.</li>
      </div>
    </div>
    <div class="subtitle">
      <h1>Idiomas</h1>
      <div class="general-info">
        <li>Português fluente e Inglês intermediário.</li>
      </div>
    </div>

  </div>

</div>
